


{% extends "core/pages/ingreso.html" %}
{% load static %}
{% block h1 %}
<h1>
    Ingreso
</h1>
{%endblock%}
{% block form %}
<style>
    .caja {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background: #4D9906;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  }
</style>
<form method="post" action="{% url 'ingreso' %}">
    {% csrf_token %}
    <label for="nombre">Nombre de Usuario:</label>
    <input type="text" name="nombreusuario" id="nombreusuario" required>
    <label for="contraseña">Contraseña:</label>
    <input type="password" name="contraseña" id="clave" required>
    
        {% if mensaje_error %}
            <p class="caja">{{ mensaje_error }}</p>
        {% endif %}
  
    <div id="check-recuerdame">
        <input type="checkbox" name="recordarme" id="recordarme">
        <label for="recordarme" id="recordarme">Recuérdame</label>
    </div>
    <a id="olvidaste" href="#">Olvidaste tu contraseña?</a>
    <input type="submit" value="Enviar" id="enviar">
</form>

{%endblock%}
<!--
{% block script%}
<script src="{% static 'core/scripts/script_ingreso.js' %}"></script>
{%endblock%}
-->