footer {
    bottom: 0px;
    left: 0px;
    background-color: #4D9906;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5vw;
    justify-self: end;
    position: relative;
    margin-top: auto;
}
body{
    display: flex;
    flex-direction: column;
}


footer a {
    text-decoration: none;
    color: #000;
}